<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Socket.io</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"
      integrity="sha512-gVG6WRMUYFaIdoocaxbqd02p3DUbhReTBWc7NTGB96i7vONrr7GuCZJHFFmkXEhpwilIWUnfRIMSlKaApwd/jg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <input type="text" name="text" id="text" />
    <button onclick="sendMessage()">send message</button>
    <h1></h1>
    <script>
      const socket = io('http://localhost:3001');

      socket.on('connection');

      socket.on('message', (data) => {
        document.querySelector('h1').innerHTML = data;
      });

      const sendMessage = () => {
        const input = document.querySelector('input').value;
        socket.emit('sendMessage', input);
      };
    </script>
  </body>
</html>
